//color variables
@headerInfoBackground: lightBlue;
@slideshowBackground: Orange;
@contentBackground: tan;
@footerBackground: lightYellow;

/*------------------------- general syles & global positioning */
body {
    margin: 0;
    font-size: 1.3em;
    background: grey;
    //background: @footerBackground;
}

// http://stackoverflow.com/questions/24123195/less-css-nested-loops-for-header-elements
.headers-generator(@n; @i : 1) when (@i =< @n)
{
    h@{i} {
        font-size: (1.6em - (@i - 1) * 0.2);    
    }
    .headers-generator(@n; (@i + 1));
}
.headers-generator(6);

h1, h2, h3,h4,h5,h6,
ul, ol {
    margin: 0;
}
p{
    margin: 0 0 .5em 0;
}

/*All horizontal sections get some class or id like "mainContent" or "slideshow. Background color is set here
Inside that, they need a div with class "widthContainer". This allows content to be partial width, but the background to go full width
For columns, there's a div with class "colContainer" (to make sure elements don't float outside). An important thing is to have this clear: both
colContainer is like a row, & inside 2 divs get classes "twoCol". They float left/right on big screens then span the entire width on small screens
colContainer is optional when only working with one "row" (like in the footer where there are just 2 columns)
Using a min-width approach for media queries, I start with the smallest screens, then @ a certain size, style for the larger screen  
The sections that contain widthContainers MUST HAVE overflow: auto or hidden (this is because the twoCol floated elements take up no height)
each piece of content is inside an <article> which has padding. This is to full-width content can also have padding (not just twoCol)*/

//width & positioning variables
.twoCol {   /*using a min-width approach it starts off 100% & is changed later */
    width: 100%;
}
.widthContainer {
    width: 100%;        /* width is changed later for large screens */
    margin: 0 auto;     /*center it in the page */
    padding: 10px 0;     /* top & bottom must have some padding, to fix header accidentaly showing body */

    transition: 1.5s;   /*transition the width to 100% later on */

    article {
        padding: .5em;
        clear: both;        /* this targets  all articles, but only affects those that follow a colContainer & makes them start on a new line (just in case there's only 1 twoCOl on the left & it leaves floating space on the right). */
    }
}

/*media queries on small screen to fix columns & mkae full width */
@media (min-width: 800px){ /* these are actually what you see on big screens */
    .twoCol {
        width: 50%;
        float: left;     /* both float left so 2 columns end up on one row */
    }
    .widthContainer {   /*take up 70% on large screens */
        width:70%;
    }
}

.todayHours{    /*initially these don't float at all, but are changed later */
    float:none;
}
.tinyLocation{
    float:none;
}
@media (min-width: 1000px){ /* these are actually what you see on big screens */
    .todayHours{
        float:left;
    }
    .tinyLocation{
        float:right;
    }
}

.mainContent, footer, .headerInfo .widthContainer {  /* THIS IS MAGIC. Since twoCol & most elements are floated, their parent take up no height. This forces the parent to contain children */
    overflow: auto;   /* hidden or auto both seem to work */
}
.colContainer{
    clear:both; /* this is important, so that multiple columns don't all go right */
}

/*------------------------- end positioning/layout section */

/*-------------------------color of page secions */
.headerInfo {
    background: @headerInfoBackground;
}
.galleria{
    height: 350px;
}
.galleria-theme-classic { /*change stage background color */
    background: @slideshowBackground;
}
.slideshow{
    background: @slideshowBackground;
}

.mainContent{
    background: @contentBackground;
}

footer {
    background: @footerBackground;
    font-size: .8em;
}
/*-------------------------END color of page secions -------------------*/

/* ---------------- Iframes (maps & calendars) --------------------- */
iframe {
    border: 0;
    display: block;
    &.map{
        width:100%;
        height: 20em;
    }
    &.volunteerCalendar{
        height: 30em;
        width: 100%;
    }
}
/* ---------------- Iframes --------------------- */

/* ------------------- Hours ---------------------------*/
//#hours{
    table {
        border-collapse: collapse;
        width: 100%;        /* this makes it take up the width of the container */
    }
    th,td {
        border: 1px solid black;
        text-align: center;
        padding: .2em;
    }
//}
/* ------------------- Hours ---------------------------*/

/*------------------Home page --------------------------*/

/*------------------END Home page --------------------------*/