//color variables
@todayHoursBackground: lightBlue;
@slideshowBackground: Orange;
@contentBackgroun: tan;
@footerBackground: lightYellow;

//width & positioning variables
.widthContainer {
    width:70%;
    margin: 0 auto;
    padding: 10px;
}
.colContainer{}
.twoCol {
    width: 50%;
}
.colContainer > .twoCol:nth-child(1){
    float: left;
}
.colContainer > .twoCol:nth-child(2){
    float: right;
}

/*media queries on small screen to fix columns & mkae full width */


body {
    margin: 0;
    font-size: 1.3em;
    background: grey;
    //background: @footerBackground;
}

.todayHours {
    background: @todayHoursBackground;
}
.galleria{
    height: 350px;
}
.galleria-theme-classic { /*change stage background color */
    background: @slideshowBackground;
}
.slideshow{
    background: @slideshowBackground;
}

.mainContent{
    background: @contentBackgroun;
}

footer {
    background: @footerBackground;
    font-size: .8em;
}