.widthContainer {
  width: 70%;
  margin: 0 auto;
  padding: 10px;
}
.twoCol {
  width: 50%;
}
.colContainer > .twoCol:nth-child(1) {
  float: left;
}
.colContainer > .twoCol:nth-child(2) {
  float: right;
}
/*media queries on small screen to fix columns & mkae full width */
body {
  margin: 0;
  font-size: 1.3em;
  background: grey;
}
.todayHours {
  background: lightBlue;
}
.galleria {
  height: 350px;
}
.galleria-theme-classic {
  /*change stage background color */
  background: Orange;
}
.slideshow {
  background: Orange;
}
.mainContent {
  background: tan;
}
footer {
  background: lightYellow;
  font-size: .8em;
}
