//width & positioning variables
.widthContainer {
    width:70%;
    margin: 0 auto;
    padding: 10px;
    //position: relative;
}
.colContainer{
    
}
.twoCol {
    width: 50%;
    //float: left;
    //position: absolute;
}
.colContainer > .twoCol:nth-child(1){
    float: left;
}
.colContainer > .twoCol:nth-child(2){
    float: right;
}
/*.leftCol{
    float: left;
}
.rightCOl{
    float: right;
}*/
/*.widthContainer > .twoCol:nth-child(1){
    left: 0;
}*/


body {
    margin: 0;
    background: grey;
}

.galleria{
    height: 350px;
}
.galleria-theme-classic { /*change stage background color */
    background: orange;
}


footer {
    background: lightyellow;
}